.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}
@media screen and (max-width: 900px) {
  .app {
    padding: 0;
    zoom: 0.8;
  }
}
