.app {
  height: 100vh;
  padding: 2.4rem;
  overscroll-behavior-y: none;
  display: flex;
  position: relative;
}
@media screen and (max-width: 100px) {
  .app {
    padding: 0;
    zoom: 0.8;
    height: auto;
    min-height: 100vh;
    overflow: scroll;
  }
}
